
		.staffing{
			background-color: darkred;
		}
		/*
		#tabs-1-about li .ui-icon-close {
			float: left;
			margin: 0.7em 0.3em 0 0;
			border: none;
			background-color: transparent;
			cursor: pointer;
		}
		#staff-list {
			float: left;
			width: 200px;
			position: fixed;
			border-right: 2px solid black;
			min-height: 100%;
		}
		.ui-tabs {
			float: left;
			width: 800px;
			width: calc( 100% - 300px );
			margin-left: 250px;
		}
        */